<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wgzhao.addax.cli.mapper.TaskInfoMapper" >
  <resultMap id="BaseResultMap" type="com.wgzhao.addax.cli.pojo.TaskInfo" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="task_status" property="taskStatus" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="VARCHAR" />
    <result column="ctime" property="ctime" jdbcType="TIMESTAMP" />
    <result column="mtime" property="mtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.wgzhao.addax.cli.pojo.TaskInfo" >
    insert into t_task_info (id, task_status, uid, 
      ctime, mtime)
    values (#{id,jdbcType=VARCHAR}, #{taskStatus,jdbcType=INTEGER}, #{uid,jdbcType=VARCHAR}, 
      #{ctime,jdbcType=TIMESTAMP}, #{mtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wgzhao.addax.cli.pojo.TaskInfo" >
    insert into t_task_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="taskStatus != null" >
        task_status,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="ctime != null" >
        ctime,
      </if>
      <if test="mtime != null" >
        mtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="taskStatus != null" >
        #{taskStatus,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null" >
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="mtime != null" >
        #{mtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="java.lang.String">
    update t_task_info set task_status = 1
    where id = #{mainTaskId,jdbcType=VARCHAR}
  </update>
</mapper>